@import '../settings.import'

.table

  thead
    > tr
      > th
        text-transform uppercase
        font-weight bold

  tbody
    > tr
      > th
        font-weight lighter
        line-height 20px