.home
  float left
  width 100%
  text-align center
  padding-top 40px
  > img
    width 400px
    height auto
    display block
    margin 0 auto
  > .intro
    float left
    width 100%
    margin-top 20px
    font-size 16px
    line-height 19px
    color #222222
  > .portfolio
    float left
    width 100%
    margin-top 10px
    font-size 14px
    line-height 17px